%html
  %head
    = stylesheet_tag "application"
    = javascript_tag "application"
    -###----------------------------------------------------------------###
    -# This is a javascript hook for adobe to install fonts on the site   #
    -###----------------------------------------------------------------###
    = javascript_tag "//use.typekit.net/hzq4hjb.js"
    :javascript
      try{Typekit.load();}catch(e){}
  %body
    = haml :"index/nav"
    = yield
